<template>
    <div class="intro1_0">
        <div class="row">
            <div class="col-md-5 pt-3 center-block text-center">
                <img :src="groot_hi" class="groot_hi center-block"/>
            </div>

            <div class="col-md-7 pt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Подготовка к полету</h5>
                        <h6 class="card-subtitle mb-2 text-muted">День 1</h6>
                        <div class="box3 sb14">Привет, {{user ? user.full_name : '...'}}! Меня зовут Грут.
                            Я буду сопровождать тебя на протяжении всего нашего полета.
                            Вместе нам предстоит изучить систему контроля версий GIT.
                            Мы будем летать на разные планеты, знакомиться с его жителями и узнавать
                            необходимую информацию.
                        </div>

                        <img :src="spaceship" class="spaceship pt-3"/><br/>
                        <p class="pt-2">Добро пожаловать на борт корабля!</p>
                        <router-link to="/tasks/introduction/1" class="card-link">
                            <button type="button" class="btn btn-primary float-right">
                                Полетели!
                            </button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import groot_hi from "../../../src/assets/images/intro_lesson/groot_hi.png"
    import spaceship from "../../../src/assets/images/intro_lesson/spaceship.png"

    export default {
        name: "intro1_0",
        data: function () {
            return {
                groot_hi: groot_hi,
                spaceship: spaceship
            }
        },
        computed: mapState({
            user: state => state.user
        })
    }

</script>

<style scoped>
    .groot_hi {
        height: 520px;
    }

    .box3 {
        margin-left: 15px;
        border-radius: 15px;
        background: rgb(25, 0, 95);
        color: #fff;
        padding: 20px;
        text-align: center;

        position: relative;
    }

    .sb14:before {
        content: "";
        position: absolute;
        border-left: 15px solid transparent;
        border-right: 15px solid rgb(25, 0, 95);
        border-top: 15px solid rgb(25, 0, 95);
        border-bottom: 15px solid transparent;
        left: -16px;

    }

    .spaceship {
        width: 350px;
    }
</style>
