<template>
    <Lesson slug="git_commit_amend" :intro_text="intro_text">
        <div class="task">
            <p>
                Кто-то из наших сотрудников (Хм, может снова Гамора?)
                неверно подписал свои изменения.
                Измени сообщение коммита с помощью команды <br/><mark>git commit --amend</mark>,
                написав там информативное сообщение

            </p>
            <img :src="meme" class="meme center-block"/>
        </div>
    </Lesson>
</template>

<script>
    import Lesson from '../../../src/components/TerminalLesson';
    import meme from "../../../src/assets/images/lessons/meme.jpg"


    export default {
        name: "GitCommitAmend",
        components: {Lesson},
        data() {
            return {
                meme: meme
                /*                intro_text: [
                                    'Кто-то из наших сотрудников (может быть снова Гамора?) ',
                                    'неверно подписали свои изменения.',
                                    'Нужно изменить сообщение коммита с помощью команды git commit --amend,',
                                    'написав там информативное сообщение'
                                ]*/
            }
        }
    }
</script>
<style>
    .task {
        margin-top: 17px;
    }

    mark {
        color: red;
        font-family: "Courier New";
    }

    .meme {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 75%;
    }
</style>