{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
    <div class="submit-row">
        <p style="float: left;">
            <input type="submit" value="Очистить прогресс пользователя" name="_delete_progress" class="deletelink">
        </p>
    </div>
    {{ block.super }}
{% endblock %}
