<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load googlecharts %}

<div id="count_graph"></div>

{% googlecharts %}
    {% data values "count" %}
        {% col "string" "Name" %}"{{ val }}"{% endcol %}
        {% col "number" "Value" %}{{ val }}{% endcol %}
    {% enddata %}

    {% options %}
        kind: "BarChart",
        options: {
        backgroundColor: "#f9f9f9",
        colors: ["#09f"],
        gridlineColor: "#ddd",
        legend: "none",
        vAxis: {minValue: 0},
        chartArea: {left: 40, top: 20, width: 240, height: 180},
        width: 300,
        height: 240
        }
    {% endoptions %}

    {% graph "count_graph" "count" %} {# используем опции по умолчанию #}
{% endgooglecharts %}
</body>
</html>