<template>
    <div>
        <div v-if="user !== null">
            <navbar></navbar>
            <div id="main_content">
                <router-view></router-view>
            </div>
        </div>
        <login v-if="need_login"></login>
        <footer-info></footer-info>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import Navbar from "./components/Navbar";
    import Login from "./components/Login";
    import FooterInfo from "./components/FooterInfo";

    export default {
        name: "App",
        components: {Navbar, Login, FooterInfo},
        computed: mapState({
            user: state => state.user,
            need_login: state => state.need_login
        })
    };
</script>

<style>
    #main_content {
        margin-top: 20px;
        overflow: hidden;
    }
</style>
