<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitEasy</title>
    <style>
        body {
            background: #2B3E50;
        }
        .loader {
            color: rgba(255,255,255,0.5);
            text-align: center;
            font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-weight: 100;
            margin-top: 30px;
        }
    </style>

    <!-- Schema.org markup (Google) -->
    <meta itemprop="name" content="GitEasy">
    <meta itemprop="description" content="Сервис по обучению работе с системой контроля версий Git">
    <meta itemprop="image" content="/assets/images/groot.png">

    <!-- Open Graph markup (Facebook, Pinterest) -->
    <meta property="og:title" content="GitEasy" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://giteasy.ru/" />
    <meta property="og:image" content="/assets/images/groot.png" />
    <meta property="og:description" content="Сервис по обучению работе с системой контроля версий Git" />
    <meta property="og:site_name" content="GitEasy" />

</head>
<body>
    <div id="app">
        <h2 class="loader">Загрузка</h2>
    </div>
<%=
    webpackConfig.mode==='production'
    ? '<script type="text/javascript">(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(51587090, "init", { id:51587090, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/51587090" style="position:absolute; left:-9999px;" alt="" /></div></noscript>'
    : ''
%>
</body>
</html>
